name: Update Swift Package
on: 
  push:
    tags:
      - "*.*.*"

permissions:
  contents: write

jobs:
  get_artifact_url:
    name: Update Swift Package
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Update package
        id: update_package
        run: |
          echo "::group::determining release tag"
          ref=${{ github.ref }} 
          release_tag="${ref##*refs/tags/}" 
          echo "tag=$release_tag" >> "$GITHUB_ENV"
          echo $release_tag
          echo "::endgroup::"
          
          echo "::group::update_package.sh"
          sh ./update_package.sh $release_tag AdSDKCore AdSDKCore.xcframework.zip
          echo "::endgroup::"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: swift package deployer
          author_email: mail@example.com
          message: 'Updated swift package definition'
          add: 'Package.swift'
          tag: ${{ env.tag }} --force
          push: origin HEAD:main
          tag_push: --force
          

        
      
    
          
          
      
